.Rproj.user
.Rhistory
Data/procedural_justice_revisited/products/rdata/4_did_balanced.RData
Data/procedural_justice_revisited/products/rdata/5_did_truncated.RData
.Ruserdata
.DS_Store
Data/.DS_Store
Data/procedural_justice_revisited/.DS_Store
.icloud